// Variables -------------- //

$width-nav-sidebar:  250px;
$site-top:           98px;

//fix these Variables
$color-white: #fff;
$color-gray-light: #000;
$color-gray-dark: #000;
$medium-screen: 1200px;
$site-margins: 10px;
$h3-font-size: inherit;
$h5-font-size: inherit;
//// @media screen and ($medium-screen + $width-nav-sidebar)

// Navigation ------------- //

.usa-site-header {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  a {
    border-bottom: none;
  }

  .usa-site-navbar {
    @media screen and ($medium-screen + $width-nav-sidebar) {
      height: 6rem;
      margin: {
        bottom: 1rem;
        top: 2.7rem;
      }
    }
    margin-top: 4px;

    .logo {
      @media screen and ($medium-screen + $width-nav-sidebar) {
        padding-left: $site-margins;
        text-align: left;
        padding-top: 0;
        width: auto;
      }
      float: left;
      text-align: center;
      padding-top: 1.3rem;
      width: 70%;

      a {
        color: $color-dark;

        &:hover {
          color: $color-gray-dark;
          text-decoration: none;
        }

        &:visited {
          color: $color-dark;
        }
      }

      img {
        max-width: 48px;
      }
    }

    h1 {
      @media screen and ($medium-screen + $width-nav-sidebar) {
        display: block;
        font-size: $h3-font-size;
        float: right;
        margin-top: 1.2rem;
        padding-left: 1.2rem;
      }
      margin: 0;
      font-size: $h5-font-size;
    }
  }
}

.menu-btn {
  @media screen and ($medium-screen + $width-nav-sidebar) {
    display: none;
  }
  display: inline;
  float: left;
  margin-top: -4px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $color-black;
  background-color: $color-bright;
  font-size: 1.5rem;
  width: 15%;
  text-align: center;

  &:visited {
    color: $color-black;
  }

  &:hover {
    text-decoration: none;
    color: $color-white;
    background-color: $color-medium;
  }
}

// #menu-content {
//   @media (max-width: $medium-screen + $width-nav-sidebar) {
//     $sliding-panel-width: 220px;
//
//     @include position(fixed, 0 auto 0 0);
//     @include size($sliding-panel-width 100%);
//     @include transform(translateX(- $sliding-panel-width));
//     background: #fff;
//     -webkit-overflow-scrolling: touch;
//     overflow-y: auto;
//     z-index: 999999;
//     display: block;
//     &.is-visible {
//       @include transition(all 0.25s linear);
//       @include transform(translateX(0));
//     }
//   }
// }

.overlay {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    visibility: visible;
  }
}

// Main Content --------- //

.main-content {
  display: flex;
  flex-direction: column;

  @include media($medium-screen) {
    min-height: calc(100vh - #{$site-top});
    top: $site-top;
  }
  position: absolute;
  top: 4rem;
  min-height: calc(100vh - 4rem);
  bottom: 0;
  right: 0;
  width: 100%;
  padding: {
    bottom: 0;
    top: 1em;
  }
  z-index: -1;

  .lt-ie9 & {
    width: 75%;
  }

  @media screen and ($medium-screen + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});

    .lt-ie9 & {
      width: 75%;
    }
  }
}

h2.styleguide-header {
  border-bottom: 1px solid $color-gray-light;
  padding-bottom: .5em;
}

.styleguide-header {
  font-weight: $font-normal;
}

.download_link {
  display: inline-block;
  margin-bottom: 1em;
}

// Sidebar Nav --------- //

.sidenav {
  background-color: $color-white;
  position: fixed;
  top: $site-top;
  bottom: 0;
  left: 0;
  width: $width-nav-sidebar;
  border-right: 1px solid $color-gray-light;
  padding: 5rem 3rem 3rem 3rem;
  overflow: auto;
  display: none;
  z-index: -1;

  .lt-ie9 & {
    width: 25%;
  }

  .usa-sidenav-sub_list {
    display: none;
  }

  a {
    color: $color-medium;
    text-decoration: none;

    &:hover {
      color: $color-medium;
    }
  }

  @media screen and ($medium-screen + $width-nav-sidebar) {
    display: block;
  }
}

.sidenav .usa-current ~ .usa-sidenav-sub_list {
    display: block;
}

// Styleguide Content -------- //

.styleguide-content {
  // https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
  flex: 1 0 auto;

  margin-bottom: 5em;
  max-width: $site-max-width;
  padding: {
    left: 2em;
    right: 2em;
  }
  position: relative;

  > h1 {
    margin-top: 3.4rem;
    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }
  @media (min-width: $medium-screen + $width-nav-sidebar) {
    padding: {
      left: 3em;
      right: 3em;
    }
  }
}

// Footer --------------- //

.usa-styleguide-footer {
  background-color: $color-dark;;

  // https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
  flex-shrink: 0;
  flex-basis: auto;

  padding: {
    bottom: 3rem;
    top: 3rem;
  }

// This is a styleguide-only rule and is not needed in the main library code for
// the footer component which uses different styles
  p, a {
    @include media($medium-screen) {
      margin-bottom: 0;
    }
    color: $color-white;
    font-size: $h5-font-size;
    margin: {
      bottom: 1.5rem;
      top: 0;
    }
  }

  a:hover {
    color: $color-bright;
  }
}

.type-example {
  margin-top: .5em;
}

// Colors -------------- //

.usa-color-short {
  height: 7rem;
  margin-bottom: 1rem;
}

.usa-color-name {
  font-weight: $font-bold;
  margin-bottom: 0;
  margin-top: 1rem;
  text-transform: capitalize;
}

.usa-color-hex {
  margin-bottom: 1em;
  margin-top: 0;

  @include media($medium-screen) {
    margin: 0;
  }
}

.usa-color-row {
  margin-bottom: 3rem;
  margin-top: 1.5rem;

  .color-big {
    @include media($medium-screen) {
      float: left;
      padding-right: 4%;
      width: 32%;
    }
  }

  .color-small {
    float: left;
    width: 50%;

    @include media($medium-screen) {
      width: 17%;
    }
    margin-right: 0;
  }
}

.usa-primary-color-section {
  @include media($medium-screen) {
    margin-bottom: 8rem;
  }
  margin-bottom: 0;

  .usa-color-square {
    @include span-columns(6);
    margin-bottom: 7rem;
    padding-bottom: 50%;
    position: relative;

    @include media($medium-screen) {
      @include span-columns(2);
      margin-bottom: 0;
      padding-bottom: 14.70196%;
    }
  }

  .usa-mobile-end-row {
    @include media($medium-screen) {
      margin-right: 2.35765%;
    }
    margin-right: 0;
  }
}

.usa-color-inner-content {
  position: absolute;
  top: 100%;
}

.usa-color-text {
  font-weight: $font-bold;
  margin-bottom: .4rem;
  padding: {
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    top: 1rem;
  }
}

.usa-color-outline {
  .usa-color-text {
    box-shadow: inset 0 0 0 1px $color-gray;
  }
}

// Color background helpers

.usa-color-bright {
  background-color: $color-bright;
}

.usa-color-dark {
  background-color: $color-dark;
}

.usa-color-medium {
  background-color: $color-medium;
}

.usa-color-light {
  background-color: $color-light;
}

.usa-color-black {
  background-color: $color-black;
}

.usa-color-gray-dark {
  background-color: $color-gray-dark;
}

.usa-color-gray-light {
  background-color: $color-gray-light;
}

.usa-color-white {
  background-color: $color-white;
  box-shadow: inset 0 0 0 1px $color-gray-light;
}

.usa-color-primary-alt {
  background-color: $color-primary-alt;
}

.usa-color-primary-alt-dark {
  background-color: $color-primary-alt-dark;
}

.usa-color-primary-alt-darkest {
  background-color: $color-primary-alt-darkest;
}

.usa-color-text-white {
  color: $color-white;
}

.usa-color-text-black {
  color: $color-black;
}

.color-col-tall .usa-color-text {
  margin-bottom: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


// Custom CSS --------------- //

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
}

//  rewrote this to prevent overlapping margins

h4 {
  margin-top: 0;
  padding-top: 1.5em;
}

a {
  color: $color-medium;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $color-medium;
  }
}

.usa-sidenav-list {
  a {
    color: $color-black;

    &.usa-current {
      border-left-color: $color-medium;
      color: $color-medium;
    }
  }

  > li {
    border-top: 1px solid $color-gray-light;
  }
}

.display-logo {
  max-width: 162px;
}

// added from USWDS for typography section

.text-tiny {
  @include margin(5px null 0);
  &:first-child {
    margin-top: 0;
  }
}
.typography-specimen {
  .text-huge {
    font-size: 140px;
    line-height: 1.05;
  }
  .text-tiny {
    font-size: 15px;
  }
}

.bold {
  font-weight: bold;
}
