// Typography

$font-sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-path: 'fonts';

// Color

$color-light:     #b3efff;
$color-bright:    #00cfff;
$color-medium:    #046b99;
$color-dark:      #1C304A;
$color-black:     #000000;
