/*----------------------------------------------------------
# 18F colors
-----------------------------------------------------------*/
$site-color-light: #B3EFFF;
$site-color-bright: #00CFFF;
$site-color-medium: #046B99;
$site-color-dark: #1C304A;
