/*----------------------------------------------------------
# 18F colors
-----------------------------------------------------------*/
$brand-color-light: #B3EFFF;
$brand-color-bright: #00CFFF;
$brand-color-medium: #046B99;
$brand-color-dark: #1C304A;

@use 'uswds-core' as * with (

  /*---------------------------------------------------------
  # Meta Settings
  ----------------------------------------------------------*/
  $theme-show-notifications: false,
  $theme-font-path: '../../../node_modules/@uswds/uswds/dist/fonts',
  $theme-image-path: '../../../node_modules/@uswds/uswds/dist/img',

  // TODO: remove
  $theme-hero-image: '../_img/hero.png',


  /*---------------------------------------------------------
  # Global Settings
  ----------------------------------------------------------*/
  $theme-global-link-styles: true,


  /*---------------------------------------------------------
  # Typography Settings
  ----------------------------------------------------------*/
  $theme-font-type-sans: 'helvetica',
  $theme-font-role-heading: 'sans',
  $theme-body-font-size: 'md',


  /*---------------------------------------------------------
  # Color Settings
  ----------------------------------------------------------*/

  /*------------------------------------------------
  ## Primary color
  -------------------------------------------------*/
  $theme-color-primary-darkest: 'blue-90',
  $theme-color-primary-darker: $brand-color-dark,
  $theme-color-primary-dark: 'blue-70v',
  $theme-color-primary: $brand-color-medium,
  $theme-color-primary-light: 'blue-cool-40v',
  $theme-color-primary-lighter: 'blue-cool-20v',
  $theme-color-primary-lightest: $brand-color-light,

  /*------------------------------------------------
  ## Accent color
  -------------------------------------------------*/
  $theme-color-accent-cool-darkest: 'cyan-80v',
  $theme-color-accent-cool-darker: 'cyan-70v',
  $theme-color-accent-cool-dark: 'cyan-50v',
  $theme-color-accent-cool: $brand-color-bright,
  $theme-color-accent-cool-light: 'cyan-20v',
  $theme-color-accent-cool-lighter: 'cyan-10v',
  $theme-color-accent-cool-lightest: 'blue-5',

  /*------------------------------------------------
  ## Error color
  -------------------------------------------------*/
   $theme-color-error-lighter: 'red-warm-5v',

  /*------------------------------------------------
  ## Header width
  -------------------------------------------------*/ 
   $theme-header-logo-text-width: 70%,

);
