@use 'uswds-core' as * ;

// Set heading colors
h1, h2, h3, h4, h5, h6 {
  color: color('primary-darker');
}

// Anchor link icon styling
.heading-permalink {
  opacity: 0.4;

  &:visited {
    color: color('primary');
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  .usa-icon {
    vertical-align: sub;
    max-width: units(3);
  }
}

// usa-prose overrides
.usa-prose {
  blockquote {
    max-width: measure(2);
  }

  code {
    word-wrap: break-word;
  }

  h2 {
    margin-top: units(5);
  }

  li p {
    margin-bottom: 0;
  }
}


// usa-section overrides
.hero .section__heading--white {
  color: color('white');
}

// accent button
a.usa-button--accent {
  color: color('primary-darker');
  background-color: color('accent-cool');

  &:visited {
    color: color('primary-darker');
    background-color: inherit;
  }

  &:focus,
  &:hover {
    color: color('primary-darker');
    background-color: color('accent-cool-lighter');
  }

  &:active {
    background-color: color('accent-cool-lightest');
  }
}

// Custom utilities
.width-200 {
  width: 200px;
}
