@use 'uswds-core' as * ;

// Highlight TODO links to make them visually standout
a[href*="/TODO/"] {
  color: color('blue-80v') !important;
  background-color: color('gold-10v') !important;
  padding: 0 units(0.5);

  &:after  {
    content: ' [link TBD]';
  }

  &:visited {
    color: color('blue-80v') !important;
  }
}

// Set heading colors
h1, h2, h3, h4, h5, h6 {
  color: color('primary-darker');
}

// Anchor link icon styling
.heading-permalink {
  opacity: 0.4;

  &:visited {
    color: color('primary');
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  .usa-icon {
    vertical-align: sub;
    max-width: units(3);
  }
}

// usa-prose overrides
.usa-prose {
  blockquote {
    max-width: measure(2);
  }

  code {
    word-wrap: break-word;
  }

  h2 {
    margin-top: units(5);
  }

  li p {
    margin-bottom: 0;
  }
}
