/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
$theme-show-notifications: false;

$img-max-width-3xl:  100%;
$img-max-width-2xl:   90%;
$img-max-width-xl:    80%;
$img-max-width-lg:    70%;
$img-max-width-md:    60%;
$img-max-width-sm:    50%;
$img-max-width-xs:    40%;
$img-max-width-2xs:   30%;
$img-max-width-3xs:   20%;

$section-img-size: 200px;
$guide-donwnload-size: 28px;

$bullet-spacing: 1.25rem; // matches defualt in MD

//// HEADER

// Logo

.usa-logo__text {
  display: table-cell;
}

.usa-logo__text::before {
  background-image: asset_url('18f-logo.svg');
  background-size: cover;
  @include u-margin-right(1);
  height: 44px;
  width: 44px;
  display: inline-block;
  content: '';
}

.site-title {
  vertical-align: top;
  @include u-margin-top(2);
}

@include at-media(desktop) {
  .site-title {
    @include u-margin-top(0);
  }
}

// top navbar
.usa-header--extended .usa-current::after,
.usa-header--extended .usa-current:hover::after {
  @include u-bg('secondary');
  @include u-text('ink');
}

// Nav links active and current
.usa-nav__primary > .usa-nav__primary-item > a:hover,
.usa-nav__primary .usa-nav__primary-item > a.usa-current {
  @include u-text('ink');
}

@include at-media(desktop) {
  .usa-nav__primary > .usa-nav__primary-item > a:hover,
  .usa-nav__primary > .usa-nav__primary-item > button:hover, {
    @include u-bg('base-lightest');
  }

  .usa-header--extended .usa-nav__link:hover::after,
  .usa-nav__primary button[aria-expanded="true"]::after {
    height: 0;
  }

  .usa-nav__primary > .usa-nav__primary-item > a.usa-current:hover::after{
    height: 0.25rem;
    position: absolute;
    bottom: 0;
  }
}

// Nav dropdown styles

@include at-media(desktop) {
  .usa-nav__primary button[aria-expanded="true"] {
    background-image: asset_url('angle-arrow-up-primary.svg');
  }

  .usa-nav__primary button[aria-expanded="true"],
  .usa-nav__primary button[aria-expanded="true"]:hover {
    @include u-color('primary-dark');
    @include u-bg('base-lightest');
  }

  .usa-nav__submenu {
    @include u-color('white');
    @include u-bg('primary');
  }
}

// Search bar
.usa-nav__secondary {
  margin-top: units(2);

  @include at-media('desktop') {
    bottom: units(10) + units(2); // XXX magic number
  }
}

.usa-nav__secondary-links {
  display: none;
}

//// FOOTER

.footer-logo {
  @include u-margin-right(2);
  text-decoration: none;
}

.usa-footer__secondary-link {
  @include u-text($theme-link-color);
}

.usa-footer__secondary-link:hover {
  @include u-text($theme-link-hover-color);
}

//// TYPOGRAPHY

.usa-layout-docs__main {
  max-width: units('tablet');
}


// Headings
.usa-prose{
  h1,h2,h3,h4 {
    @include u-text('primary-darker');
  }
  h5 {
    @include u-text ('primary');
  }
  h6 {
    @include u-text ('primary');
    @include u-text('normal');
    text-transform: capitalize;
    letter-spacing: normal;
  }
}


// prose

.usa-prose a {
  @include u-text($theme-link-color);
}

// Links

.usa-prose a {
  @include u-text('primary');
}

.usa-prose a:hover {
  @include u-text('primary-dark');
}

.usa-prose a:visited {
  @include u-text('violet-70v');
}

// Link focus

[href]:focus {
  @include u-outline-color('base');
  @include u-outline('2px');
  outline-style: dotted;
}

//// PAGE COMPONENTS

// Buttons

a.usa-button--secondary {
  @include u-text('primary-darker');
  @include u-bg('secondary');
  margin-bottom: units(2);
}

a.usa-button--secondary:hover{
  @include u-text('primary-darker');
  @include u-bg('secondary-light');
}

.usa-section--dark .usa-button.usa-button--secondary:hover, .usa-prose .usa-button--secondary:visited {
  color: color('primary-darker');
}

// Hero
 .usa-section--dark .usa-hero__heading {
  // color: color('primary-darker');
  @include u-font('sans', 'xl');
  @include at-media('tablet') {
      @include u-font('sans', '2xl');
  }
}

.usa-hero{
  // background: color('cyan-5v');
  @include at-media('desktop') {
    padding-top: units(8);
    padding-bottom: units(8);
  }
}

.usa-section--dark .usa-button--secondary {
  color: color('primary-darker');
}

.usa-button:visited {
  color: color('primary-darker');
}

.hero-img__container {
  text-align: center;
}

.hero-img {
  @include at-media('tablet') {
    margin-left: units(2);
    max-width: $img-max-width-lg;
  }
  @include at-media('desktop') {
    max-width: $img-max-width-md;
  }

}

.hero__intro {
  color: color('primary-darker');
  @include u-font('sans', 'md');

  @include at-media('tablet') {
    @include u-font('sans', 'lg');
  }
}

.usa-hero--no-image {
  background-image: none;
  @include u-bg('primary-darker');
}

.usa-hero--no-image .usa-hero__callout {
  padding-left: 0;
}

.usa-hero__callout {
  background-color: transparent;
}


//tagline
.tagline-section{
  padding-bottom: 0;
}

.usa-prose .tagline__heading {
  @include u-line-height('heading', 3);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: units(2);
}

.tagline--highlight {
  color: color('primary-darker');
}

.tagline--citation {
  color: color('primary');
}

p.tagline__caption {
  @include u-font('body', '3xs');
  color: color('base-dark');
}

.tagline__caption .tagline--citation {
  @include u-text('bold');
}

.tagline__image {
  display: none;
  @include at-media('tablet') {
      display: block;
  }
}

// Graphic list

.usa-graphic-list__heading {
  @include u-font('sans','lg')
}

.guide-thumbs a, a:visited  {
  color: inherit;
  text-decoration: none;
}

.guide-thumbs h3{
  color: color('primary');
  &:hover {
    color: color('primary-darker');
  }
}

.guide-thumbs p {
  color: color('primary-darker');
}



//Workshop
.workshop-section {
  background-color: color('blue-5');
}

.workshop-section p, .tagline-section p{
  max-width: units('tablet');
}

// Side Navigation
.usa-sticky-sidenav {
  @include at-media('desktop') {
    align-self: flex-start;
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
}

.usa-sidenav a {
  @include u-text('ink');
}

.usa-sidenav a:hover {
  color: inherit;
}

.usa-sidenav > .usa-sidenav__item {
  padding-left: 0;
}

.usa-sidenav .usa-current {
  @include u-text('ink');
}

.usa-sidenav .usa-current::after {
  @include u-bg('secondary');
  border-radius: 0;
  width: 0.5rem;
  top: 0;
  bottom: 0;
}

.usa-sidenav__sublist a {
  padding-left: units(3);
}

// Dark sections
.usa-section--dark h3 {
  @include u-text('secondary');
}

.usa-section--dark h1, .usa-section--dark h2 {
  color: white;
}


//// GUIDE PAGES
.chapter__img-container {
  background-color: color('primary-darker');
  display: flex;
  justify-content: center;
  margin-top: units(2);
  margin-bottom:  units(1);
}

//jekyll wraps image in a p
.chapter__img-container p {
  margin: 0;
}

.chapter__img {
  padding-top: units('205');
  padding-bottom: units('205');
  width: $section-img-size;
}

.usa-layout-docs__main h2, #footnotes {
  border-top: 1px solid color('primary-darker');
  padding-top: units(1.5);
}

.usa-sr-only + h2 {
  margin-top: 0
}

.usa-layout-docs__main h3 {
}

// State Guidelines

.guide-highlight, .guide__download__bg {
  background-color: color('blue-5');
  padding: units(2);
}

.guide-highlight {
  border-left: 4px solid color('secondary');
}

.guide__download__img {
  max-width: $guide-donwnload-size;
  vertical-align: middle;
  margin-right: units(1);
}

.usa-layout-docs__main .guide-checklist,
.usa-layout-docs__main .key-questions {
  color: color('white');
  padding: units(1);
}

.usa-layout-docs__main .guide-checklist {
  background-color: color('primary');
  @include u-font('sans','md')
}

.usa-layout-docs__main .key-questions {
  background-color: color('primary-darker');
  @include u-font('sans','md')
}

.guide-checklist + ul, .key-questions + ul {
  background-color: color('blue-5');
  margin-top:0;
  padding-top: units(1);
  padding-right: units(2);
  padding-bottom: units(1);
}

.guide-checklist + ul li, .key-questions + ul li {
  margin-bottom: units(1);
}


.guide-checklist + ul {
  list-style: none;
  margin-left: 0;
  padding-left: units(1);
}

.guide-checklist + ul li {
  padding-left: $bullet-spacing;
  text-indent: (-1 * $bullet-spacing);

  &:before {
    content: '\25A1';
    padding-right: units(1);
  }
}

// Code

.highlight {
  background-color: color('base-lightest');
  padding: units(1);
  line-height: 1.3;
}

.guide-indent {
  margin-left: units(8);
}

blockquote p, .guide-note {
  @include u-font ('body', 'sm');
  color: color($theme-color-base);
}

// bullet lists and nested bullet lists
.usa-prose li p {
  margin: units(2) 0 units(1);
}
.usa-prose li ul li p {
  margin: 0 0 units(1);
}

//QASP table
.qasp-table {
  width: units('tablet');
}

.qasp-table td, .qasp-table th {
  @include u-font('body', 'xs');
  vertical-align: top;
}

//QASP table head
.usa-table thead th, .usa-prose > table thead th,
.usa-table thead td, .usa-prose > table thead td {
  background-color: color($theme-color-base-lightest);
}

//Footnotes
.footnotes ol {
  padding-left: units(2);
  @include u-font('body','xs');
}

#footnotes {
  @include u-font('heading', 'md');
}
