@use 'uswds-core' as * ;

// Overrides to the default Prism theme to provide better color contrast

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: color('green-cool-60v');
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: color('primary');
}

.token.punctuation {
  color: color('base-dark');
}
