@use 'uswds-core' as * ;

/*----------------------------------------------------------
# Styles specific to the De-risking Government Tech guide
-----------------------------------------------------------*/

.usa-card {
  .usa-card__container {
    border-style: none;
  }
  
  .usa-card__body {
    padding: 0;

    .introduction_card_header {
      font-size: size('body', 8);
    }

    ol {
      list-style-position: inside;
      margin: 0;
      padding: 0;
      padding-inline-start: 0.5rem;
    }
  }

  .usa-card__img {
    border-radius: 0;
    display: flex;
  
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      padding-bottom: 14%;
      padding-top: 14%;
    }
  }
}
