@use '../../_common/styles/brand-colors' as *;
@use 'uswds-core' as *;

/*----------------------------------------------------------
# Styles specific to the De-risking Government Tech guide
-----------------------------------------------------------*/

.derisking-government-tech {
  $user-story-color: #FAF3D1;

  h4 {
    color: $brand-color-medium;
  }

  h5 {
    @include u-font('sans', 'sm');
    color: $brand-color-medium;
    font-weight: normal;
    text-transform: uppercase;
  }

  hr {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  table {
    text-align: left;

    caption {
      @include typeset('body', 'md', 3);
    }

    thead {
      th {
        background-color: $brand-color-medium;
        border-color: $brand-color-dark;
        color: white;
        width: 50%;
        vertical-align: top;

        .scrum-table-subheader {
          @include u-font('sans', '2xs');
          font-weight: normal;
          margin: 0;
        }
      }

      th.scrum-table-position-header {
        width: 33%;
      }

      th.scrum-table-people-header {
        width: 17%;
      }

      th.scrum-table-rate-header {
        width: 21%;
      }

      th.scrum-table-cost-header {
        width: 29%;
      }
    }

    tr {
      td {
        @include u-line-height('body', 4);
        border-color: $brand-color-medium;
        vertical-align: top;
      }

      td.numeric {
        text-align: right;
      }
    }

    tr.total-row td {
      background-color: $brand-color-light;
    }
  }

  .table-footnote {
    @include typeset('body', '2xs', 4);
    max-width: 100%;
  }

  // Section headers within pages
  .section-image {
    background-color: $brand-color-light;

    img {
      height: 80%;
      max-height: 80%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  .chapter-summary {
    font-size: 1.375rem;
    line-height: 1.3;
    margin-top: 1rem;
  }

  // Card layout on the Introduction page
  .usa-card {
    .usa-card__container {
      border-style: none;
    }

    .usa-card__body {
      padding: 0;

      .introduction_card_header {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      ol {
        list-style-position: inside;
        margin: 0;
        padding: 0;
        padding-inline-start: 0;

        li {
          padding-bottom: 0.5rem;
        }
      }
    }

    .usa-card__img {
      border-radius: 0;
      display: flex;

      img {
        height: 72%;
        max-height: 72%;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }

  .info-box {
    padding: 4%;

    .info-box-header {
      color: $brand-color-medium;

      .font-body-lg {
        color: $brand-color-medium;
        line-height: 1.3;
      }
      .usa-icon--size-4 {
        fill: $brand-color-medium;
        flex-shrink: 0;
      }
    }

    .info-box-content {
      ul {
        padding-inline-start: 6.5%;
      }
    }
  }

  // User story examples on the key principles page
  .user-story {
    @include typeset('body', 'sm', 4);

    background-color: $user-story-color;
    padding: 1rem;
  }
}
