<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lightest">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col">
          <p class="margin-bottom-0"> This project is maintained by <a class="usa-link text-primary-dark" href="https://18f.gsa.gov/">18F</a></p>
          <p class="margin-top-05"> Have questions or would like to contact us? Email us at <a class="usa-link text-primary-dark" href="18@gsa.gov">18F@gsa.gov</a>
</p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% include "usa_identifier.html" %}
