<section class="usa-section border-1 border-primary-dark">
  <div class="grid-container">
  <h2>Links to actual guides as they appear online</h2>
    <div class="grid-row grid-gap">
      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/accessibility/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/accessibility.svg" "maxw-6" "" %}
          <p>{{ titles_roots["accessibility"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/agile/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/agile.svg" "maxw-6" "" %}
          <p>{{ titles_roots["agile"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/brand/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/brand.svg" "maxw-6" "" %}
          <p>{{ titles_roots["brand"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/content-guide/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/content.svg" "maxw-6" "" %}
          <p>{{ titles_roots["content-guide"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/derisking/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/derisking.svg" "maxw-6" "" %}
          <p>{{ titles_roots["derisking"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/eng-hiring/' | url }}">
          {% image_with_class "assets/_common/_img/team-lg.svg" "maxw-6" "" %}
          <p>{{ titles_roots["eng-hiring"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/product/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/product.svg" "maxw-6" "" %}
          <p>{{ titles_roots["product"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2"> 
        <a href="{{'/ux-guide/' | url }}"> 
          {% image_with_class "assets/_common/_img/guide_icons/user-interviews-love--c.svg" "maxw-6" "" %}
          <p>{{ titles_roots["ux-guide"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2"> 
        <a href="{{'/engineering/' | url }}"> 
          {% image_with_class "assets/_common/_img/guide_icons/engineering.svg" "maxw-6" "" %}
          <p>{{ titles_roots["engineering"].title }}</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/methods/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/content.svg" "maxw-6" "" %}
          <p>{{ titles_roots["methods"].title }}</p>
        </a>
      </div>

    </div>
  </div>
</section>
