<section class="usa-section border-1 border-primary-dark"> 
  <div class="grid-container">
  <h2> Some approaches and stuff</h2>
    <div class="grid-row grid-gap"> 
      <div class="grid-col"> 
        <div class=""> 
          <a href="{{'/agile/' | url }}"> 
            {% image_with_class "assets/_common/_img/agile.svg" "maxw-6" "" %}
            <p>So agile</p>
          </a>
          <a href="{{'/accessibility/' | url }}"> 
            {% image_with_class "assets/_common/_img/accessibility.svg" "maxw-6" "" %}
            <p>So accessibiliity</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

