<section class="usa-section border-1 border-primary-dark">
  <div class="grid-container">
  <h2> Some approaches and stuff</h2>
    <div class="grid-row grid-gap">
      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/accessibility/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/accessibility.svg" "maxw-6" "" %}
          <p>So accessibiliity</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/agile/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/agile.svg" "maxw-6" "" %}
          <p>So agile</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/brand/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/brand.svg" "maxw-6" "" %}
          <p>Such brand</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/content-guide/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/content.svg" "maxw-6" "" %}
          <p>Very content-guide </p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/eng-hiring/' | url }}">
          {% image_with_class "assets/_common/_img/team-lg.svg" "maxw-6" "" %}
          <p>Much hiring of engineers</p>
        </a>
      </div>

      <div class="grid-col-6 tablet:grid-col-3 margin-top-2">
        <a href="{{'/product/' | url }}">
          {% image_with_class "assets/_common/_img/guide_icons/product.svg" "maxw-6" "" %}
          <p>Product guide (Wow)</p>
        </a>
      </div>

    </div>
  </div>
</section>
