{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      {% if eleventyNavigation.parent %}
        {% assign links = collections.all | eleventyNavigation: eleventyNavigation.parent %}
      {% else %}
        {% assign links = collections[eleventyNavigation.key] | eleventyNavigation %}
      {% endif %}
      {% for link in links %}
        {% assign _current = false %}
        {% if link.url == page.url %}
          {% assign _current = true %}
        {% endif %}
        <li class="usa-sidenav__item">
          <a href="{{ link.url | url }}"
             {% if _current %} class="usa-current" {% endif %}
          >
           {{ link.title }}
          </a>
        </li>
    {% endfor %}
    </ul>
  </nav>
</aside>
