<span class="anchor" id="{{ this_method.title | slugify }}"></span>
<article class="method" itemscope itemtype="http://schema.org/Article">
  <div class="method--panel method--panel--front">
    <h2 class="method--title" itemprop="headline"><a href="{{ method_path | url }}">
      {% if this_method.title %}
        {{ this_method.title }}
      {% endif %}
    </a></h2>
      {% capture what_heading_slug %}what-{{ this_method.title | slugify }}{% endcapture %}
      <h3 id="{{ what_heading_slug }}">What {% include "heading-link.html", slug: what_heading_slug %}</h3>
      <p>{{ this_method.what }}</p>
      {% capture why_heading_slug %}why-{{ this_method.title | slugify }}{% endcapture %}
      <h3 id="{{ why_heading_slug }}">Why {% include "heading-link.html", slug: why_heading_slug %}</h3>
      <p>{{ this_method.why }}</p>
    <footer>
      <section class="method--section method--section--category">
        <h3>Phase</h3>
        <p>{{ this_method.category | capitalize }}</p>
      </section>
      <section class="method--section method--section--time-required">
        <h3>Time required</h3>
        <p>{{ this_method.timeRequired }}</p>
      </section>
    </footer>
  </div>
  <div class="method--panel method--panel--back">
    {{ content }}
  </div>
  <div class="usa-sr-only">
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">18F</span>
    <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    </span>
  </div>
  <span itemprop="author" >18F</span>
  <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  </span>
  <time datetime="{{ this_method.last_modified_at | date: '%Y-%m-%d' }}" itemprop="datePublished">  {{ this_method.last_modified_at | date: '%B %d, %Y' }}</time>
</div>
</article>
