<span class="anchor" id="{{ this_method.title | slugify }}"></span>
<article class="method" itemscope itemtype="http://schema.org/Article">
  <div class="method--panel method--panel--front">
    <h1 class="method--title" itemprop="headline"><a href="{{ site.baseurl }}{{ method.url }}">
      {% if this_method.title %}
        {{ this_method.title }}
      {% endif %}
    </a></h1>
      <h2>What</h2>
      <p>{{ this_method.what }}</p>
      <h2>Why</h2>
      <p>{{ this_method.why }}</p>
    <footer>
      <section class="method--section method--section--category">
        <h1>Phase</h1>
        <p>{{ this_method.category }}</p>
      </section>
      <section class="method--section method--section--time-required">
        <h1>Time required</h1>
        <p>{{ this_method.timeRequired }}</p>
      </section>
    </footer>
  </div>
  <div class="method--panel method--panel--back">
    {% renderFile this_method.content, this_method, "md" %}
  </div>
  <div class="usa-sr-only">
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">18F</span>
    <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    </span>
  </div>
  <span itemprop="author" >18F</span>
  <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  </span>
  <time datetime="{{ this_method.last_modified_at | date: '%Y-%m-%d' }}" itemprop="datePublished">  {{ this_method.last_modified_at | date: '%B %d, %Y' }}</time>
</div>
</article>
