<div class="card-header no-print">
  <nav>

      {% if layout == "layouts/method-category" %}
      <a href="{{ '/methods' | url }}/" class="usa-button usa-button--secondary">
        {% image_with_class "assets/methods/img/cards.png", "methods--cards-img", "" %}
        See all cards
      </a>
      {% else %}
      <a href="/methods/{{ category | downcase }}/" class="usa-button usa-button--secondary margin-bottom-1" onclick="ga('send', 'event', 'Navigate', 'Click method category link','Navigate to method categoy page');">
        {% image_with_class "assets/methods/img/cards.png", "methods--cards-img", "" %}
        See all {{ category | capitalize }} cards
          </a>
      {% endif %}

      {% if layout == "layouts/method-category" %}
      <a href="javascript:window.print()" class="usa-button usa-button--secondary usa-link usa-link--external">
        {% image_with_class "assets/methods/img/printer.png", "methods--printer-img", "" %}
        Print all {{ category | capitalize }} cards
        </a>
      {% else %}
      <a href="javascript:window.print()" class="usa-button usa-button--secondary usa-link usa-link--external">
        {% image_with_class "assets/methods/img/printer.png", "methods--printer-img", "" %}
        Print this card
      </a>
      {% endif %}

  </nav>
</div>

