{% comment %}
A call-to-action for 18F workshop services, to show below the main content on the primary v2 de-risking guide pages.
{% endcomment %}
<section class="derisking-government-tech usa-layout-docs usa-section bg-accent-cool-lightest">
  <div class="grid-container workshop-cta">
    <div class="grid-row">
      <div class="grid-col usa-prose">
        <h2>Contracting problems? We can help.</h2>
        <p>18F can jump start your software development project with workshops that are tailored to reduce project risk, meet your goals, and deliver results to your users.</p>
        <a class="usa-button" href={{ "https://18f.gsa.gov/contact/" | url }}>Contact us</a>
      </div>
    {% image_with_class "assets/derisking-government-tech/img/workshop.svg" "display-none tablet:display-block flex-align-self-end ousa-media-block__img" "" %}
    </div>
  </div>
</section>
